@import "variables";
@import "mixing";

#organizerStn {
  .organizer__inner {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: auto 50px;
    color: white;

    .main-content {
      display: grid;
      align-content: center;
      .main-content__inner {
        height: 100%;
        display: grid;
        grid-template-rows: min-content auto 100px 50px;

        @include responsive-form-max-width(487px) {
          grid-template-rows: min-content auto 100px 70px;
        }

        .heading-container {
          padding-top: 1em;
          p {
            text-align: center;
            font-size: 2em;
          }
        }

        .main-content__inner-middle {
          .main-content__inner-middle__inner {
            height: 100%;
            width: 100%;
            display: grid;
            align-content: center;

            .organizers-container {
              text-align: center;
              //width: 100%;
              margin: auto;

              .organizer-logo{
                border-radius: 10px;
                margin-top: 5%;
                margin-bottom: 5%;

                @include responsive-form-max-width(769px){
                  width: 50%;
                  alignment: center;
                  //display: inline;
                }
              }
            }
          }
        }

      }
    }
  }
}

@include responsive-form-max-width($respinsive-width) {
  section[style] {
    height: unset;
  }
}
