@import "variables";
@import "mixing";

#scheduleStn {
  .schedule__inner {
    width: 100%;
    height: 100%;
    grid-template-rows: auto 50px;
    color: white;
    display: inline;
    //position: relative;
    align-content: center;
    //margin-top: 5%;
    //margin-bottom: 5%;

    .main-content {
      .main-content__inner {
        //height: 100%;
        grid-template-rows: min-content auto 100px 50px;

        //@include responsive-form-max-width(487px) {
        //  grid-template-rows: min-content auto 100px 70px;
        //}

        .heading-container {
          padding-top: 1em;

          p {
            text-align: center;
            font-size: 2em;
          }
        }


        .main-content__inner-body {
          $color: $secondary-color;
          $lineColor: $primary-color;
          $fontColor: #fff;
          $yearBgColor: $secondary-color;

          $breakpoint: 700px;

          * {
            box-sizing: border-box;
            position: relative;
          }

          body {
            color: $fontColor;
            padding: 1rem;
          }

          h1 {
            text-align: center;
          }

          .timeline {
            position: relative;
            padding: 1rem;
            margin: auto;
            max-width: 1300px;

            &:before {
              content: '';
              position: absolute;
              height: 100%;
              border: 1px solid $lineColor;
              right: 40px;
              top: 0;
            }

            &:after {
              content: "";
              display: table;
              clear: both;
            }

            @media screen and (min-width: $breakpoint) {
              padding: 2rem;
              &:before {
                left: calc(50% - 1px);
                right: auto;
              }
            }
          }

          .timeline__item {

            padding: 1rem;
            border: 2px solid $lineColor;
            border-image: linear-gradient(to right, $color 0%, $lineColor 100%);
            border-image-slice: 1;
            position: relative;
            margin: 1rem 3rem 1rem 1rem;
            clear: both;

            &:after,
            &:before {
              content: '';
              position: absolute;
            }

            &:before {
              right: -10px;
              top: calc(50% - 5px);
              border-style: solid;
              border-color: $lineColor $lineColor transparent transparent;
              border-width: 10px;
              transform: rotate(45deg);
            }

            @media screen and (min-width: $breakpoint) {
              width: 44%;
              margin: 1rem;

              &:nth-of-type(2n) {
                float: right;
                margin: 1rem;
                border-image: linear-gradient(to right, $lineColor 0%, $color 100%);
                border-image-slice: 1;

                &:before {
                  right: auto;
                  left: -10px;
                  border-color: transparent transparent $lineColor $lineColor;
                }
              }
            }
          }

          .timeline__item--year {
            text-align: center;
            max-width: 150px;
            margin: 0 48px 0 auto;
            font-size: 1.8rem;
            background-color: $yearBgColor;
            line-height: 1;
            border-image: none;
            padding: .5rem 1rem 1rem;

            &:before {
              display: none;
            }

            @media screen and (min-width: $breakpoint) {
              text-align: center;
              margin: 0 auto;

              &:nth-of-type(2n) {
                float: none;
                margin: 0 auto;
                border-image: none;

                &:before {
                  display: none;
                }
              }
            }
          }

          .timeline__title {
            margin: 0;
            //font-family: 'Raleway', sans-serif;
            font-size: 1.5em;
          }

          .timeline__blurb {
            line-height: 1.5;
            font-size: 1rem;
            margin: .5rem 0 0;
          }
        }

      }
    }
  }
}

@include responsive-form-max-width($respinsive-width) {
  section[style] {
    height: unset;
  }
}
