// mixing
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./mixing";
@import "../fonts/fonts";

$color-content: #1c1b1b;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  // color: #57585c;
  // color: var(--color-text);
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

#smoke {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #000000;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

@import "./navigation";
@import "./home";
@import "./about";
@import "./organizers";
@import "./contact-us";

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

button[style],
button,
a {
  @extend .noselect;
  outline: none;

  &:focus {
    outline: none;
  }
}
